<h1>ember-sliding-sticky demo</h1>

<a href="https://github.com/Deveo/ember-sliding-sticky/">
  GitHub
</a>

<ul>
  <li>
    {{link-to 'Custom container scrolling, fixed' 'index'}}
  </li>

  <li>
    {{link-to 'Custom container scrolling, animated' 'container-animation'}}
  </li>

  <li>
    {{link-to 'Window scrolling, fixed' 'window'}}
  </li>

  <li>
    {{link-to 'Window scrolling, animated' 'window-animation'}}
  </li>
</ul>

{{outlet}}